.container{
    display: flex;
    align-items: center;
    width: 1300px;    
    padding: 40px;
}

.home-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.home-message {
    padding: 10px;
    font-size: 24px;
    line-height: 1.6;
}

.upload-buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
}

.icon-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-button span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;

}

.icon-button:hover {
    transform: scale(1.1);
}

