.home-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    height: 100vh;
}

.home-message {
    padding: 10px;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
}

.upload-buttons {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px; 
    
}

.upload-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icon-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: transform 0.2s;
}

.icon-button span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    width: 180px;
    height: 30px;
    text-align: left;
}

.icon-button:hover {
    transform: scale(1.1);
}

@media (max-width: 1500px) {
    .upload-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 20px; 
        padding: 10px;
        padding-top: 180px;
        
    }


}