.login-layout{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    height: 100vh; 
}

.login-field{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    background-color: #fff;
    width: 500px;
    height: 600px;
}

.login-message{
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
}

.login-layout form{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
}

.login-form input{
    font-size: 15px;
    margin: 10px;
    width: 270px;
    height: 30px;
}

.login-form button{
    width: 120px;
    margin: 10px;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.login-form button:hover{
    background-color: #4f46e5;
    border-color: #4f46e5;
}