.myfile-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.file-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
  
.file-link:hover {
    color: #4f46e5;
    text-decoration: underline;
}
  